html {
  scroll-behavior: smooth;
}

.section {
  padding: 30px 0;
}

.footer {
  background: $black;
}

.event-right-section {
  @include media-breakpoint-up(lg) {
    border-left: 1px solid $gray-200;
  }
}
